
*{  
    
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;

}


header{
    position: sticky;
    top: 0;
}

/* header */

.navbar{
   
    background-color:#3da6fc ;

    height: 80px;
    
}
.navbar a{
    font-size: 40px;
    color: white;
    margin-left: 5px;
}
.navbar .navcontent ul{
    
    position: absolute;
    top :16px;
    right: 5px  ;
    
    list-style: none;
}
.navcontent li{
    float: left;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
}
.searchContainer{
    /* float: right; */
    /* margin-top: 5px; */
background-color: #3da6fc;
    box-shadow: 3px 3px 10px black;
    /* border: solid black; */
    
    /* margin: 30px; */
}
.searchContainer >input{
   
    border: solid black;
}
.searchContainer button{
    /* float: right; */
    padding: 4px;
    margin: 1px;
}
/* 
.search-bar{
    padding: 2%;
    position: absolute;
    right: 111%;
    top: 24%;

}
.navcontent button {
    position: absolute;
    top: 25%;
    right: 95%; 
}
.search-button{
    border: none;
    background-color:white;
} */
.head{
    display: inline-block;
}



.mySlides {display: none;}
    img {vertical-align: middle;}
    
    /* Slideshow container */
    .slideshow-container {
      
      max-width: 1200px;
      position: relative;
      left: 70px;
      top: 10px;
      right: 0px;
    
    }
    .slideshow-container img{
       
        height: 450px;
      
      margin-right: 10px;
      right: 10px;
    }
    .imgslide{
        width: 100%;
        margin-top: 10px;
      }
      .mySlides{
        position: absolute;
        width: 100%;
        top: -40%;
        z-index:-2;
      }
      @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .text {font-size: 11px}
      } 

      /* product */
      #dogcontainer{
        text-align: center;
        font-size: 20px;
         
          
      }
      #dogitems{
        display: inline-block;
        margin-right: 40px; 
        margin-left: 0px;
      }
      .dogitems img{
          text-align: center;
      }
      .dogitems p{
          text-align: center;
          
      }
 #category{
     text-align: center;
     font-size: 20px;
 }
  .indeximg  img:hover{
    box-shadow: 5px 3px 10px 2px black;
  }
  .indeximg{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-right: 40px;
    margin-left: 20px;
  }
  .indeximg img{
      width: 250px;
  }
  .indeximg p{
      text-align: center;
  }
  
.spacing{
    margin-top: 500px;
}
.shopfordog h1{

    font-size: 40px;
    
    padding-left: 40px;
    margin-bottom: 20px;
}

.row{
    
    display: inline-block;
}
.items{
    
    margin-right: 50px;
    margin-left: 100px;
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
}
.items p{
    text-align: center;
}
.items span{
    text-align: center;
}

.homeimage img{
    max-width: 100%;
}

/* footer */
footer{
    background-color: #2196f3;
    text-align: center;
    
    bottom: 100%;
    left: 0;
    width: 100%;
    list-style: none;
}
.footer li{
    color: black;
    display: inline;
}
    

/* login */
.formlogin:hover{
    box-shadow: 5px 3px 10px 2px black;
}
.formlogin{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 20px;
    border: solid rgb(116, 116, 233);
    border-radius: 20px;
    /* background-color:#f4af1b; */
}
.loginimg{
    text-align: center;
}
.loginform{
    padding-left: 65px;
}
.inputcontainer{
    margin: 5px 20px 10px 20px;
    padding: 5px;
    
}
.inputcontainer > input{
    height: 20px;
    width: 80%;
}
/* input[type=password], input[type=email] 
     { 

        margin: 10px 100px 0px 100px;
        padding: 12px 20px; 
        display: block; 
        border: 2px solid #D3D3D3; 
        border-radius: 5px;
        width: 400px;
        box-sizing: border-box; 
        margin-bottom: 20px;
        border: 2px solid red;
    }
 label{
     position: absolute;
    
     font-size: 18px;
     margin-top: 20px;
     padding-top:200px ;
     margin-left: 20px;
 }   
 
/* register */
.regform:hover{
    box-shadow: 5px 3px 10px 2px black;
}
.regform{
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    margin-right: 35%;
    padding-left: 50px;
    border: solid rgb(116, 116, 233);
    border-radius: 20px;
    
}
.regform h1{
    padding-right: 50px;
    text-align: center;
}
.regimg{
    padding-top: 20px;
    padding-right: 50px;
    text-align: center;
}
.reginput{
   
    margin: 5px 20px 10px 20px;
    padding: 5px;
}
.reginput > input{

    height: 20px;
    width: 80%;
}
button{
    padding: 5px;
}

/* forgetpassword */
.forgetpsw:hover{
    box-shadow: 5px 3px 10px 2px black;
}
.forgetpsw{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 20px;
    border: solid rgb(116, 116, 233);
    border-radius: 20px;
    /* background-color:darkgray; */
}

.forgetpsw h3{
    padding-left: 70px;
    padding-bottom: 20px;
}
.frglabel{
    padding-left: 40px;
}
.frglabel > input{
    height: 20px;
    width: 80%;  
}

/* order */
.order:hover{
    box-shadow: 5px 3px 10px 2px black;
}
.order{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 20px;
    border: solid rgb(116, 116, 233);
    border-radius: 20px;
}
.orderform{
    padding-left: 65px; 
}
.ordercontainer{
    margin: 5px 20px 10px 20px;
    padding: 5px;
}
.ordercontainer > input{

    height: 20px;
    width: 80%;
}
/* cart */
#table{
    
    padding: 50px;
    
}
th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
  }



/* about */
.about{
    
    text-align: center;
    
   
}
.about1{
    margin: 30px;
    border: solid rgb(116, 116, 233);
    display: inline-block;
    width: 500px;
    padding: 20px 40px;
    
}
