
*{  
    
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;

}
/* button{
    margin: 0px auto;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
} */
body{
    /* background-color:#5b75bd; */
}
header{
    position: sticky;
    top: 0;
}
.navbar{
   
    background-color:#3da6fc ;
    /* background-color: lightgreen; */
    height: 80px;
    
}
.navbar a{
    font-size: 40px;
    color: white;
    margin-left: 5px;
}
.navbar .navcontent ul{
    /* float: right; */
    position: absolute;
    top :16px;
    right: 5px  ;
    
    list-style: none;
}
.navcontent li{
    float: left;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
}


.head{
    display: inline-block;
}
.head p{
    /* text-align: center; */
}

.mySlides {display: none;}
    img {vertical-align: middle;}
    
    /* Slideshow container */
    .slideshow-container {
      /* transition: 0; */
        max-width: 1200px;
      
      position: relative;
      left: 70px;
      top: 10px;
      right: 0px;
    
    }
    .slideshow-container img{
       
        height: 450px;
      
      margin-right: 10px;
      right: 10px;
    }
    .imgslide{
        width: 100%;
        margin-top: 10px;
        
  
      }
      .mySlides{
        position: absolute;
        width: 100%;
        top: -40%;
        z-index:-2;
      }
      @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .text {font-size: 11px}
      } 

 #category{
     text-align: center;
     font-size: 20px;
 }
  .items1{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-right: 40px;
    margin-left: 20px;
  }
  .items1 img{
      width: 250px;
  }
  
.spacing{
    margin-top: 500px;
}
.shopfordog h1{
    /* border: solid; */
    font-size: 40px;
    /* text-align: center; */
    padding-left: 40px;
    margin-bottom: 20px;
}
.shopfordog{
  
}
.row{
    
    display: inline-block;
}
.items{
    
    margin-right: 50px;
    margin-left: 100px;
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
}
.items p{
    text-align: center;
}
.items span{
    text-align: center;
}

.homeimage img{
    max-width: 100%;
}
/* section{ 
    margin: auto;
    padding: auto;
} */

/* .indeximg{
    position: relative;
} */
footer{
    background-color: #2196f3;
    text-align: center;
    /* position:fixed; */
    bottom: 100%;
    left: 0;
    width: 100%;
    list-style: none;
}
.footer li{
    color: black;
    display: inline;
}
    /* position: fixed; */
    /* width: 100%;

/* login */
.formlogin:hover{
    box-shadow: 5px 3px 10px 2px black;
}
.formlogin{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 20px;
    border: solid rgb(116, 116, 233);
    border-radius: 20px;
    /* background-color:#f4af1b; */
}
.loginimg{
    text-align: center;
}
.loginform{
    padding-left: 65px;
}
.inputcontainer{
    margin: 5px 20px 10px 20px;
    padding: 5px;
    
}
.inputcontainer > input{
    height: 20px;
    width: 80%;
}
/* input[type=password], input[type=email] 
     { 

        margin: 10px 100px 0px 100px;
        padding: 12px 20px; 
        display: block; 
        border: 2px solid #D3D3D3; 
        border-radius: 5px;
        width: 400px;
        box-sizing: border-box; 
        margin-bottom: 20px;
        border: 2px solid red;
    }
 label{
     position: absolute;
    
     font-size: 18px;
     margin-top: 20px;
     padding-top:200px ;
     margin-left: 20px;
 }   
 
/* register */
.regform:hover{
    box-shadow: 5px 3px 10px 2px black;
}
.regform{
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    margin-right: 35%;
    padding-left: 50px;
    border: solid rgb(116, 116, 233);
    border-radius: 20px;
    /* background-color:darkgray; */
}
.regform h1{
    padding-right: 50px;
    text-align: center;
}
.regimg{
    padding-top: 20px;
    padding-right: 50px;
    text-align: center;
}
.reginput{
   
    margin: 5px 20px 10px 20px;
    padding: 5px;
}
.reginput > input{

    height: 20px;
    width: 80%;
}
button{
    padding: 5px;
}

/* forgetpassword */
.forgetpsw:hover{
    box-shadow: 5px 3px 10px 2px black;
}
.forgetpsw{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 20px;
    border: solid rgb(116, 116, 233);
    border-radius: 20px;
    /* background-color:darkgray; */
}
/* .frglabel:hover{
    box-sizing: 30px;
    box-shadow:30px -30px 30px 10px white;

} */
.forgetpsw h3{
    padding-left: 70px;
    padding-bottom: 20px;
}
.frglabel{
    padding-left: 40px;
}
.frglabel > input{
    height: 20px;
    width: 80%;  
}
/* .forgetpsw{
    background-color: darkgray;
    margin: 20px 30%;
    padding: 20px 100px;
    border: solid;
    border-radius: 30px;
      
}
.frgform{
   
    text-align: center; 

}
#frg.reset{
    border-radius: 10%;
}
#frg.close{
    border-radius: 10%;
} */
/* contactform */
/* .contactform{
    font-size: 100%;
    text-align: center;
}
.condetials{
    text-align: center;
} */
/* cart */
.cart{
    text-align: center;
}

/* cart */


/* contect */
/* .contectform{
    text-align: center;
    margin: auto;
    padding: auto;
} */
/* about */
.about{
    /* padding: 20px 0;
    margin: 5px 0; */
    text-align: center;
    
    /* position: relative; */
}
.about1{
    /* background-color:; */
    border: solid rgb(116, 116, 233);
    ;
    /* float: left; */
    display: inline-block;
    width: 500px;
    padding: 20px 40px;
    
}
