<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
    <a href="index.html"><img src="assets/images/Logo.png" alt="image"></a>
    <p>pet shopping</p>
    <div class="navcontent">
        <ul>
            <li><a routerLink='contact'> <span style="font-size: 40px; color: black;"><i class="fa fa-phone"
                            aria-hidden="true"></i></span></a></li>
            <li><a routerLink='login' ><span style="font-size: 40px; color: black;"><i class="fa fa-sign-in"
                            aria-hidden="true"></i></span></a></li>
            <li> <a routerLink="cart"><span style="font-size: 40px; color:black;"><i class="fa fa-cart-arrow-down"
                            aria-hidden="true"></i></span></a></li>
        </ul>
    </div>
</div>

